@import 'base.scss';

.component {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.content {
  background-color: white;
  display: flex;
  height: 100vh;
  align-items: center;
}

.wave {
  position: relative;
  height: 300px;
  flex-grow: 1;
  opacity: 0;
  transition: opacity 300ms ease;
}

.waveIsVisible {
  opacity: 1;
}

.fade {

}
