@import 'base.scss';

.component {
  display: flex;
  height: unquote("calc(100vh - #{$header-height})");
  align-items: center;
  justify-content: center;
  position: relative;
}

.content {
  margin-top: -4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $side-padding;
}

.title {
  text-align: center;
  font-size: 24px;
}

.currentDownloadsFolderLocation {
  margin: 2rem 0 1rem 0;
  color: $color-subtext;
  font-size: 18px;
}

.btnChange {
}

.btnChangeIconBefore {
  margin-right: -4px;
  margin-left: 4px;
  height: 14px;
  width: 14px;
}

.footer {
  position: absolute;
  bottom: $side-padding * 4;
}

.btnNextIconAfter {
  margin-left: -6px;
  height: 13px;
  width: 9px;
}
