import React from 'react'
import styles from './{{{name}}}.scss'

const {{{name}}} = () => {
  return (
    <div className={styles.component}>
      Empty.
    </div>
  )
}

export default {{{name}}}
