@import 'base.scss';

$search-form-height: 80px;

.loader,
.empty {
  height: unquote("calc(100vh - #{$header-height + $nav-height + $search-form-height + $side-padding})");
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty {
  color: $color-subtext;
}

.loader {
  font-size: 40px;
}

.results {
  height: unquote("calc(100vh - #{$header-height + $nav-height + $search-form-height + $side-padding})");
  border: 1px solid $color-border;
  border-radius: 5px;
  margin: 0 $side-padding;
}
