@import 'base.scss';

$progress-bar-height: 8px;
$progress-bar-width: 65px;

.component {
  transition: background-color 120ms ease;
  padding: $side-padding;
  position: relative;
  height: 100px;
  display: flex;
  user-select: none;

  &.isOdd {
    background-color: darken(white, 1.5%);
  }

  &.isSelectable {
    .content {
      cursor: pointer;
    }
  }
}

.downloadedControls {
  display: flex;
  flex-direction: column;

  button {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.info {
  z-index: 2;
  display: flex;
  width: 100%;
  align-items: center;
}

.infoPrimary {
  max-width: 80%;
}

.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.fileName {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 100%;
}

.folderName {
  margin-top: 3px;
  font-size: 10px;
  color: darken($color-subtext, 10%);
}

.badgeFileExtension {
  margin-right: 5px;
}

.controls {
  margin-left: auto;
}

.downloading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progressBar {
  margin-bottom: 5px;
}

.speed {
  font-size: 10px;
  color: darken($color-subtext, 10%);
}

.btnDownloadIconTop {
  width: 18px;
  height: 18px;
}

.btnDownloadedIconTop {
  width: 18px;
  height: 18px;
}

.badgeSlow {
  margin-right: 5px;
}

.metaData {
  margin-top: 5px;
  display: flex;
}
