@import 'base.scss';

.component {
  margin-bottom: 1.4em;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &.parent {
    border: 1px solid $color-border;
    border-radius: $border-radius;
    background-color: darken(white, 1%);
    padding: $side-padding;
  }
}

.isCentered {
  display: flex;
  justify-content: center;
}
