@import 'base.scss';

.component {

}

.header {
  display: flex;
  align-items: center;
}

.headerControls {
  display: flex;
  margin-left: auto;

  button {
    margin-right: .5em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.btnBurnIcon {
  svg {
    width: 11px;
    height: 16px;
  }
}
