@import 'base.scss';

$progress-bar-height: 8px;
$progress-bar-width: 65px;

.component {
  height: $progress-bar-height;
  border-radius: $progress-bar-height;
  width: $progress-bar-width;
  position: relative;
  margin-bottom: 5px;
  background-color: lighten($color-border, 2%);
  overflow: hidden;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);

  &::after {
    content: '';
    position: absolute;
    border-radius: $progress-bar-height;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 70px;
    z-index: 10;
    animation: progress 1200ms ease infinite;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(220,220,220,1) 50%, rgba(255,255,255,0) 100%);
  }
}

.indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  border-radius: $progress-bar-height;
  background-color: $color-primary;
  transition: width 900ms ease;
  width: 0;
  height: $progress-bar-height;
}

@keyframes progress {
  0% {
    transform: translateX(-$progress-bar-width);
  }

  100% {
    transform: translateX($progress-bar-width);
  }
}
