@import 'base.scss';

.component {
  display: inline-block;
  transition: background-color 120ms ease;
  padding: 2px 4px;
  border-radius: 2px;
  color: white;
  background-color: $color-subtext;
  font-size: 9px;
  font-weight: 500;

  &.primary {
    background-color: $color-primary;
  }

  &.secondary {
    background-color: $color-turquoise;
  }

  &.success {
    background-color: #778ca3;
  }
}
