@import 'base.scss';

.component {
  // Empty
}

.error {
  color: $color-red;
}

.finished {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finishedLabel {
  color: $color-green;
  margin-bottom: 8px;
}

.finishedCleanup {
  button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.makeSelection,
.error,
.status,
.finished {
  line-height: 49px;
}

.status {
  color: $color-primary;
}

.usb {
  display: flex;
  align-items: center;
}

.selectDrive {
  margin-right: 1em;

  :global {
    .react-select {
      &__control {
        min-width: 200px !important;
      }
    }
  }
}
