@import 'base.scss';

$btn-height: 48px;
$btn-focus-ring-width: 3px;

.component {
  background-color: $color-text;
  border-radius: 2px;
  height: $btn-height;
  line-height: $btn-height;
  color: white;
  box-shadow: none;
  border: 0;
  padding: 0 14px;
  cursor: pointer;
  outline: 0;
  transition: box-shadow 120ms ease, background-color 180ms ease;
  font-size: 14px;
  user-select: none;
  font-family: inherit;

  &.isLoading {
    cursor: not-allowed;
  }

  &:focus {
    box-shadow: 0 0 0 $btn-focus-ring-width transparentize(#000, .8);
  }

  &.hasIconTop {
    .content {
      flex-direction: column;
    }
  }

  &.variant-error {
    background-color: $color-red;

    &:focus {
      box-shadow: 0 0 0 $btn-focus-ring-width transparentize($color-red, .8);
    }

    &:hover {
      background-color: darken($color-red, 5%);
    }
  }

  &.variant-minimal {
    height: auto;
    line-height: inherit;
    border: 0;
    background: none transparent;
    box-shadow: none;
    border-radius: 0;
    font-size: 11px;
    cursor: pointer;
    outline: 0;
    opacity: .6;
    transition: opacity 180ms ease;
    color: $color-text;
    padding: 0;

    &:hover {
      opacity: 1;
    }
  }

  &.variant-primary {
    background-color: $color-primary;
    color: white;

    &:hover {
      background-color: $color-primary-darker;
    }

    &:focus {
      box-shadow: 0 0 0 $btn-focus-ring-width transparentize($color-primary, .5);
    }
  }


  &.size-sm {
    $scale-diff: .8;
    $height: $btn-height * $scale-diff;
    height: $height;
    line-height: $height;
    border-radius: 2px;
    font-size: 12px;
    padding: 0 12px;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconTop {
  margin-bottom: 3px;
}

.iconBefore {
  margin-right: 10px;
}

.iconAfter {
  margin-left: 10px;
}

.loaderWrap {
  width: 20px;
  height: 20px;

  // Nasty: but the spinner has some weird offset that we correct here
  transform: translate3d(0, -2px, 0);
}

.loader {
  width: 20px;
  height: 20px;
  cursor: not-allowed;
}

