@import 'base.scss';

$progress-bar-height: 8px;
$progress-bar-width: 65px;

.component {
  transition: background-color 120ms ease;
  padding: $side-padding;
  position: relative;

  &:nth-child(even) {
    background-color: darken(white, 1.5%);
  }
}

.info {
  z-index: 2;
  display: flex;
  width: 100%;
  align-items: center;
}

.infoPrimary {
  max-width: 80%;
}

.content {
  display: flex;
  align-items: center;
}

.fileName {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
}

.folderName {
  font-size: 10px;
  color: darken($color-subtext, 10%);
}

.metaData {
  :global {
    .meta-pill {
      margin-right: .2em;
    }
  }
}

.controls {
  margin-left: auto;
}

.downloading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progress {
  height: $progress-bar-height;
  border-radius: $progress-bar-height;
  width: $progress-bar-width;
  position: relative;
  margin-bottom: 5px;
  background-color: lighten($color-border, 2%);
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    border-radius: $progress-bar-height;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 70px;
    z-index: 10;
    animation: progress 1200ms ease infinite;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(240,240,240,1) 50%,rgba(255,255,255,0) 100%);
  }
}

@keyframes progress {
  0% {
    transform: translateX(-$progress-bar-width);
  }

  100% {
    transform: translateX($progress-bar-width);
  }
}

.speed {
  font-size: 10px;
  color: $color-subtext;
}

.progressIndicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  border-radius: $progress-bar-height;
  background-color: $color-primary;
  transition: width 100ms ease;
  width: 0;
  height: $progress-bar-height;
}

.btnDownloadIconTop {
  width: 18px;
  height: 18px;
}

.btnDownloadedIconTop {
  width: 18px;
  height: 18px;
}
