@import 'base.scss';

$height: $nav-height;

.component {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: $height;
  z-index: 200;
  color: white;
  transform: translateY($height * 1.5);
  opacity: 0;
  transition: opacity 180ms ease, transform 120ms ease, height 300ms ease;
  will-change: transform, opacity, height;
  box-shadow: 0 0 10px 5px transparentize($color-primary, .50);
  background-color: white;

  &.isVisible {
    opacity: 1;
    transform: none;
  }

  &.isContinued {
    height: unquote("calc(100vh - #{$header-height})");
  }
}

.content {
  height: 100%;
  display: flex;
}

.header {
  width: 100%;
}

.btnBurn,
.btnClose {
  height: $nav-height;
  width: 100%;
  box-shadow: none !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;

  &:hover {
    span {
      opacity: .95;
    }

    .btnBurnIconBefore,
    .btnCloseIconBefore {
      opacity: .95;
    }
  }
}

.btnBurnContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnBurnIconBefore,
.btnCloseIconBefore {
  opacity: .75;
  transition: opacity 180ms ease;

  svg {
    width: 16px;
    height: 16px;
  }
}

.btnBurn {
  span {
    transition: opacity 180ms ease;
    opacity: .75;
  }
}
