@import 'base.scss';

$height: $nav-height;

.component {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: $height;
  z-index: 200;
  color: white;
  transform: translateY($height * 1.5);
  opacity: 0;
  transition: opacity 180ms ease, transform 120ms ease;
  will-change: transform, opacity;
  box-shadow: 0 0 10px 5px transparentize($color-primary, .50);

  &.isVisible {
    opacity: 1;
    transform: none;
  }
}

.content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 100%;
}

.btnBurn {
  width: 100%;
  height: 100%;
  border: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background-color: $color-primary;
  transition: background-color 180ms ease;
  outline: 0;

  &:hover {
    background-color: darken($color-primary, 4%);

    .btnBurnIconBefore {
      opacity: .9;
    }

    .btnBurnLabel {
      span {
        opacity: .9;
      }
    }
  }
}

.btnBurnContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnBurnIconBefore {
  margin-right: .5em;
  opacity: .65;
  transition: opacity 180ms ease;

  svg {
    width: 16px;
    height: 16px;
  }
}

.btnBurnLabel {
  span {
    transition: opacity 180ms ease;
    opacity: .65;
  }
}
