:global {
  @import '~sanitize.css/sanitize.css';
  @import '~sanitize.css/typography.css';

  strong {
    font-weight: 700;
  }

  html {
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 14px;
    font-weight: 400;
  }
}
