@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url("./fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url("./fonts/Roboto/Roboto-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url("./fonts/Roboto/Roboto-Bold.ttf") format('truetype');
}

:global {
  @import '~sanitize.css/sanitize.css';
  @import '~sanitize.css/typography.css';

  strong {
    font-weight: 700;
  }

  html {
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
}
